.bannerStyle h1 {
    background-color: #01573c;
    text-align: center;
    margin:0px !important;
}

.banner-desc{
    font-size: 12px !important;
    color: #fff;
}

.bannerStyle h1 img{
width: 100%;
height:inherit;
}

.directors{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    color:#01573c;
    display: none;
}

.leftRs {
    left: 0;
}

.rightRs {
    right: 0;
}