<div class="card">
    <div class="card-header">
        Solution
    </div>
    <div class="card-block">
        <div class="card-text">
            <label *ngIf="solution.Solution">Solusi</label>
            <textarea disabled="disabled" type="text" id="formFields_1" placeholder="Solusi" name="solusi"
                [(ngModel)]="solution.Solution"></textarea>
            <label *ngIf="solution.Target">Target</label>
            <textarea disabled="disabled" type="text" id="formFields_2" placeholder="Target" name="target"
                [(ngModel)]="solution.Target"></textarea>
            <!-- <input [disabled]="isCoach ? 'disabled' : null" type="text" id="formFields_1" placeholder="Solusi" name="solusi" [(ngModel)]="solution.Solution">
            <input [disabled]="isCoach ? 'disabled' : null" type="text" id="formFields_2" placeholder="Target" name="target" [(ngModel)]="solution.Target"> -->
            <label *ngIf="solution.Deadline">Deadline</label><br/>
            <input type="text" disabled="disabled" [(ngModel)]="solution.Deadline" placeholder="Deadline"/>
            
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        {{executionTitle}}
    </div>
    <div class="card-img">
        <img *ngIf="random === 1" src="../../assets/exec1.jpg">
        <img *ngIf="random === 2" src="../../assets/exec2.jpg">
        <img *ngIf="random === 3" src="../../assets/exec3.jpg">
    </div>
    <div class="card-block">
        <!-- <app-carousel *ngIf="imgs.length > 0" [banners]='imgs'></app-carousel> -->
        <!-- <div *ngIf="!isCoach"> -->
        <!-- <div class="upload-btn-wrapper">
                <button class="btn-file" (click)="fileInput.click()">
                    <clr-icon shape="upload" size="23"></clr-icon> Unggah Dokumen...</button>
                <input type="file" accept="image/*" #fileInput name="exfile" (change)="readURL($event);" />
            </div> -->

        <!-- <div class="card-text" style="display: block; width: 100%; margin: 0 auto; margin-bottom: 5px;">
                <img width="270" height="auto" style="display: block;margin:0 auto;" id="blah" [src]="imageSrc || 'https://imgplaceholder.com/270x150/e6e6e6/c4c4c4/glyphicon-picture'"
                    alt="your image" />
                <app-carousel [banners]='imgs.length ? imgs : imgsSample'></app-carousel>
            </div> -->
        <!-- </div> -->
        <textarea [disabled]="isCoach ? 'disabled' : null" placeholder="Deskripsi eksekusi" [(ngModel)]="longAnswer"></textarea>
    </div>
    <div class="card-footer" *ngIf="!isCoach">
        <button class="btn btn-primary btn-block" (click)="onSubmit()">Kirim</button>
    </div>
</div>