.board-container {
    background: url('../../assets/stepbg.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: calc(100vh - 2.5rem);
}

.stepboard a {
    width: 250px;
    margin: 10px;
}

.btn {
    border-color: #fff;
    color: #fff;
    border-radius: 0%;
    text-align: left;
}

.btn:hover {
    background-color: transparent
}

.btn:active {
    background: #01573c;
}

.btn-disable {
    background: #eee;
    border-color: #c0c0c0 !important;
    color: #c0c0c0 !important;
    pointer-events: none;
}

.arrow {
    float: right;
}

.title {
    color: #fff;
    font-size: 18px;
    width: 90%;
    display: block;
    margin-left: 10%;
    margin-bottom: 10px;
}

.checkbox input[type=checkbox]+label::before, .checkbox input[type=checkbox]+label::after{
    margin-top: 8px;
}

.coachy-container{
    max-height: 70vh;
    overflow-y: scroll;
    width: 100%;
}